<div th:fragment="header">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Грузоперевозки 24/7</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="/cargo_home" class="nav-link">Грузоперевозки</a></li>
            <li class="nav-item"><a href="/new" class="nav-link">Создать груз</a></li>
            <li class="nav-item"><a href="/blog" class="nav-link">Новости</a></li>
            <li class="nav-item"><a href="/blog/add" class="nav-link">Предложить новость</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">О Нас</a></li>
<!--            <li class="nav-item"><a href="/security" class="nav-link">Авторизация</a></li>-->

        </ul>
    </header>
</div>

